.background{
    padding: 1.5em;
    border: red;
    background-color: ghostwhite;
    background-image: url(../images/staff-page-background.jpg);
    background-size: 86em 42em;


}




.align-right{
    float: right;
    color: red;
    
}

.align-right spa{
    color: red;
    padding-right: 2em;
}

.align-right-detail{
    float: right;
    color: red;
    width: 52%;
}

.align-left{
    float: left;
    color: red;
    
}

.align-menu{
    float: left;
    color: red;
    width: 40%;
    padding-left: 2.5em;
}
.align-menu span{
    box-sizing: 2em;
}
.base-end{
    color: red;
    font-size: 114%;
    border: royalblue;
}

#text-red{
    color: red;
    
}

#test1{
    padding-left: 1.7em;
}
#test2{
    padding-left: 0.76em;
}
#test3{
    padding-left: 2.83em;
}
#test4{
    padding-left: 1.06em;
}
#test5{
    padding-left: 3.05em;
}
#test6{
    padding-left: 1.47em;
}
#test7{
    padding-left: 4.7em;
}